<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471339747228-86thi0vea5oif5k93skkmh81qb9fh425.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471339747228-86thi0vea5oif5k93skkmh81qb9fh425</string>
	<key>API_KEY</key>
	<string>AIzaSyAs801zcyy5AOUuq9cXrlIMvageDPvM-Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>471339747228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idea.group.neverhaveiever.NeverHaveIEver</string>
	<key>PROJECT_ID</key>
	<string>neverhaveieverapp</string>
	<key>STORAGE_BUCKET</key>
	<string>neverhaveieverapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471339747228:ios:40e168f81c2d01d4f22a59</string>
	<key>DATABASE_URL</key>
	<string>https://neverhaveieverapp.firebaseio.com</string>
</dict>
</plist>